<p>Vehicles Works!</p>

<div class="parent">
<input type="text" [(ngModel)]="term" (keypress)="getFilteredVehicles()" placeholder="Search Here">

<label for="">Column: </label>
<select name="" id="" [(ngModel)]="column">

    <option value="color">Color</option>
    <option value="fuel">Fuel</option>
</select>

<label for="">Order: </label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">asc</option>
    <option value="desc">desc</option>

</select>


<button class="btn btn-danger" (click)="getSortedVehicles()">Sort</button>
</div>
<label for="">Limit:</label>
<select name="" id="" [(ngModel)]="limit">
    <option>4</option>
    <option>6</option>
    <option>15</option>
    <option>22</option>
</select>

<label for="">Page:</label>
<select name="" id="" [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>

<button (click)=" getPageVehicles()" class="btn btn-danger">Proceed</button>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>vehicle</th>
            <th>manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <th>Id</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="">
            </td>
            <td>{{vehicle.id}}</td>
   <td>
    <button (click)="deleteVehicles(vehicle.id)" class="btn btn-danger">Delete</button>
   </td>

        </tr>
    </tbody>
</table>