<section class="title">

    <form>
        <h1>Create a New Book</h1>
        <div class="mb-3 mt-3">
            <label class="form-label">Image URL:</label>
            <input type="text" class="form-control" id="vehicle" placeholder="Enter Image URL">
          </div>
          <div class="mb-3 mt-3">
            <label class="form-label">Title:</label>
            <input type="text" class="form-control" id="vehicle" placeholder="Enter Title">
          </div>
          <div class="mb-3 mt-3">
            <label class="form-label">Purchase link:</label>
            <input type="text" class="form-control" id="vehicle" placeholder="Enter Purchase Link">
          </div>
          <div class="mb-3 mt-3">
            <label class="form-label">Published Year:</label>
            <input type="text" class="form-control" id="vehicle" placeholder="Enter Published Year">
          </div>
          <div class="button1">
            <button type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
          </div>
    </form>
</section>
