
<section>
    <form>
<div class="mb-3 mt-3">
    <label for="email" class="form-label">Full Name:</label>
    <input type="text" class="form-control"  id="email" placeholder="Enter Full Name" name="email">
  </div>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Country:</label>
    <input type="text" class="form-control"  id="email" placeholder="Enter Your Country Name" name="email">
  </div>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">City:</label>
    <input type="text" class="form-control" id="email" placeholder="Enter Your City Name" name="email">
  </div>
  <div class="button1">
  <button class="btn btn-primary">Submit</button>
  <button class="btn btn-dark">Reset</button>
   </div>
  </form>
</section>