<div class="parent">
    <div class="left">
     <h1>My Website</h1>
     <hr>
     <h2 routerLink="home">Home</h2>
     <h2 routerLink="about">About</h2>
     <h2 routerLink="data-binding" >Data Binding </h2>
     <h2 routerLink="calculator" >Calculator </h2>
     <h2 routerLink="rectangle" >Rectangle </h2>
     <h2 routerLink="bmi" >BMI </h2>
     <h2 routerLink="directives">Directives</h2>
     <h2 routerLink="marksheet">Product Name</h2>
     <h2 routerLink="pipes">Pipes</h2>
     <h2 routerLink="grade">Grade</h2>
     <h2 routerLink="dice">Dice</h2>
     <h2 routerLink="bank">Bank</h2>
     <h2 routerLink="users">Users</h2>
     <h2 routerLink="vehicles">Vehicles</h2>
     <h2 routerLink="account">Account</h2>
     <h2 routerLink="filpkart">Flipkart</h2>
     <h2 routerLink="mail">Mail</h2>
     <h2 routerLink="photo">Photo Gallary</h2>
     <h2 routerLink="activity">Boredom Activity</h2>
     <h2 routerLink="createvehicle">Create Vehicle</h2>
     <h2 routerLink="createuser">Create User</h2>
     <h2 routerLink="createaccount">Create Account</h2>
     <h2 routerLink="contactdetails">Contact Details</h2>
     <!-- <h2 routerLink="vehicledetails">Vehicle Details</h2> -->
     


     

     <hr>
     <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
         <router-outlet></router-outlet>
    </div>
</div>
